<!DOCTYPE HTML>
<head>
  <meta charset="utf-8">
  <title>Barhopper</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

  <link rel='stylesheet' type='text/css' href='/stylesheets/barhopper.css'>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'>
  <script src = "https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://unpkg.com/vue@2.3.3"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-resource/1.2.0/vue-resource.js"></script>
  <script type="text/javascript" src="/javascripts/scrolling-nav.js" charset="utf-8"></script>
</head>

<html>
<body>

  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
        <a class="navbar-brand page-scroll", href="/">Home</a>
      </div>

      <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav navbar-left">
          <li><a class="page-scroll" href="#about">About</a></li>
          <li><a class="page-scroll" href="#bars">Bars</a></li>
          <li><a class="page-scroll" href="#login">Login</a></li>

        </ul>
      </div>
    </div>

  </nav>

  <section id="intro" class="intro-section">
           <div class="container">
               <div class="row">
                   <div class="col-lg-12" id="root">
                     <input v-model="location">
                     <button @click="searchLocation">Search</button>
                     <div v-if="ok" v-for="business in businesses" :key="business.id" class="searchResult">
                      <div>
                        <span>
                          <img class="resultimg" :src="business.image_url">
                        </span>
                        <span class="textsp">
                          <a :href="business.url"><h2>${business.name}
                            <img :src="business.rating_img_url_small"></h2>
                          </a>
                          <p id="snippet">" ${business.snippet_text} "</p>
                          <p v-if="business.is_closed==false">Open now</p>
                        </span>
                        <span><p>${business.going} going</p>
                          <button @click="respond(business)">RSVP</button>
                        </span>
                      </div>
                    </div>
                  </div>
              </div>
          </div>
  </section>

  <script>



  new Vue({
    el: '#root',
    delimiters: ['${', '}'],
    data: function() {return {
      location: "",
      businesses: [],
      ok: false,
    }
    },
    methods: {
      searchLocation(){
        var address = "/search/?location="+this.location;
        var vm=this;
        this.$http.get(address)
          .then(function(data){
            this.businesses=data.body.businesses;
            var bars=[]
            var ids=[]
            this.$http.get("/bars")
            .then(function(result){
              bars=result.body;
              result.body.forEach(function(item){
                ids.push(item.yelpid)
              })
            })
            .then(function(){
              b=this.businesses
              b.forEach(function(item, index){
                var id=ids.indexOf(item.id)
                if(id==-1){
                  g=0
                }
                else{
                  g=bars[id].answers.length
                }
                var newObject = Object.assign({}, vm.businesses[index], {going: g});
                vm.$set(vm.businesses, index, newObject);
              });

            });
          });

            this.ok=true

      },

      respond(business){
        var vm=this;
        var address="/bars/" + business.id;
        var index=vm.businesses.indexOf(business)
        this.$http.post(address)
        .then(function(result){
          var newObject = Object.assign({}, vm.businesses[index], {going: result.body.answers.length});
          vm.$set(vm.businesses, index, newObject);
        });
      }
    },


  });

  </script>

</body>
</html>
